@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');   
 @import url('https://fonts.googleapis.com/css2?family=Asap&family=MuseoModerno:wght@700&display=swap');

 body{
     
     background-color: #edf7ff
;
 }   





h1{
  font-family: 'MuseoModerno', cursive; 
   color: #0a2ff1;
   font-size: 133px;
}
hr{
    border: 3px solid #8a9af1;
}

h4{
 font-family: 'Asap', sans-serif;
 font-size: 56px ;
color: #8a9af1;
    
    
} p{
    font-size:33.33px  ;
    font-family: 'Asap', sans-serif;
    color: #04146c;
    
} 
 h2{
font-family: 'MuseoModerno', bold; 
font-size: 48px;
color: #0a2ff1;
 }
 
 
 ul {
     
     font-family: 'Asap', sans-Serif;
     font-style: bold;
     color: #04146c;
     font-size: 33.33px;
;
 }
h3{
   font-family: 'MuseoModerno', cursive;
   color:#8a9af1 ;
   font-size: 198.66px;
    
}